Repository KaganHamzacebi/nobet.pro-ua: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
    "*/**/*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint --fix",
        "eslint"
    ],
    "*/**/*.{json,css,md,scss}": [
        "prettier --write"
    ]
}

test
  app/_components/ui/NobetScheduler.tsx
  package.json
Due: prettier --write, eslint --fix, eslint

lint-staged configuration added
  .husky/pre-commit
  .lintstagedrc
  app/_components/ui/NobetScheduler.tsx
Due: prettier --write, eslint --fix, eslint

prepare script removed
  package.json
Due: none

added new script
  .github/workflows/pipeline.yml
  package.json
Due: none

build script changed
  .github/workflows/pipeline.yml
  package.json
Due: none

eslint rule fixed
  .eslintrc
Due: none

husky, lint & prettier configured
  .eslintignore
  .eslintrc
  .eslintrc.json
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  package.json
  pnpm-lock.yaml
  qodana.yml
Due: none

prettier run
  app/_components/icons/Add.jsx
  app/_components/ui/AssistantNameRenderer.tsx
  app/_components/ui/MonthCellRenderer.tsx
  app/_components/ui/NobetScheduler.tsx
  app/_components/ui/SectionCellRenderer.tsx
  app/_components/ui/SectionHeaderRenderer.tsx
  app/_libs/helpers/color-generator.ts
  app/_libs/helpers/disabled-day-calculator.ts
  app/_libs/helpers/model-generator.ts
  app/_libs/mock/nobet.data.ts
  app/_models/NobetContext.ts
  app/layout.tsx
  app/providers.tsx
  next.config.mjs
  postcss.config.mjs
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

Feature/husky eslint prettier configurations (#45)
  .eslintignore
  .eslintrc
  .eslintrc.json
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  app/_components/icons/Add.jsx
  app/_components/ui/AssistantNameRenderer.tsx
  app/_components/ui/MonthCellRenderer.tsx
  app/_components/ui/NobetScheduler.tsx
  app/_components/ui/SectionCellRenderer.tsx
  app/_components/ui/SectionHeaderRenderer.tsx
  app/_libs/helpers/color-generator.ts
  app/_libs/helpers/disabled-day-calculator.ts
  app/_libs/helpers/model-generator.ts
  app/_libs/mock/nobet.data.ts
  app/_models/NobetContext.ts
  app/layout.tsx
  app/providers.tsx
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  qodana.yml
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

min validation added to section cell
  app/_components/ui/SectionCellRenderer.tsx
Due: prettier --write, eslint --fix, eslint

month cell pick fix
  app/_components/ui/NobetScheduler.tsx
Due: prettier --write, eslint --fix, eslint

rest day validation added
  app/_components/ui/NobetScheduler.tsx
Due: prettier --write, eslint --fix, eslint

min validation added to section cell (#46)
  app/_components/ui/NobetScheduler.tsx
  app/_components/ui/SectionCellRenderer.tsx
Due: prettier --write, eslint --fix, eslint

Update sonar keys
  sonar-project.properties
Due: none

Update sonar keys (#47)
  sonar-project.properties
Due: none

google one tap integration
  app/_components/ui/GoogleOneTap.tsx
  app/layout.tsx
  app/providers.tsx
  package.json
Due: prettier --write, eslint --fix, eslint

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml (#53)
  .github/dependabot.yml
Due: none

counter added to section headers
  app/_components/ui/SectionHeaderRenderer.tsx
Due: prettier --write, eslint --fix, eslint

counter added to section headers (#59)
  app/_components/ui/SectionHeaderRenderer.tsx
Due: prettier --write, eslint --fix, eslint

Export Implemented
  app/_components/ui/ExportModal.tsx
  app/_components/ui/NobetScheduler.tsx
Due: prettier --write, eslint --fix, eslint

key added to header cell
  app/_components/ui/ExportModal.tsx
Due: prettier --write, eslint --fix, eslint

Export Implemented (#60)
  app/_components/ui/ExportModal.tsx
  app/_components/ui/NobetScheduler.tsx
Due: prettier --write, eslint --fix, eslint

Unwanted Day Single Select logic implemented
  app/_components/ui/MonthCellRenderer.tsx
  app/_components/ui/NobetScheduler.tsx
  app/_models/NobetContext.ts
  app/_models/ScreenMode.ts
Due: prettier --write, eslint --fix, eslint

clear selection fix
  app/_components/ui/NobetScheduler.tsx
Due: prettier --write, eslint --fix, eslint

fix
  app/_components/ui/NobetScheduler.tsx
Due: prettier --write, eslint --fix, eslint

version set to 1.0.0
  package.json
Due: none

Unwanted Day Single Select logic implemented (#62)
  app/_components/ui/MonthCellRenderer.tsx
  app/_components/ui/NobetScheduler.tsx
  app/_models/NobetContext.ts
  app/_models/ScreenMode.ts
  package.json
Due: prettier --write, eslint --fix, eslint

DEV to PROD v1.0.0 Published (#63)
  .eslintignore
  .eslintrc
  .eslintrc.json
  .github/dependabot.yml
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  app/_components/icons/Add.jsx
  app/_components/ui/AssistantNameRenderer.tsx
  app/_components/ui/ExportModal.tsx
  app/_components/ui/MonthCellRenderer.tsx
  app/_components/ui/NobetScheduler.tsx
  app/_components/ui/SectionCellRenderer.tsx
  app/_components/ui/SectionHeaderRenderer.tsx
  app/_libs/helpers/color-generator.ts
  app/_libs/helpers/disabled-day-calculator.ts
  app/_libs/helpers/model-generator.ts
  app/_libs/mock/nobet.data.ts
  app/_models/NobetContext.ts
  app/_models/ScreenMode.ts
  app/layout.tsx
  app/providers.tsx
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  qodana.yml
  sonar-project.properties
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

modularized top and bottom bars
  app/_components/ui/NobetScheduler.tsx
  app/_components/ui/SchedulerBottomBar.tsx
  app/_components/ui/SchedulerTopBar.tsx
  app/_libs/helpers/table-style-helpers.ts
Due: prettier --write, eslint --fix, eslint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

Update issue templates (#64)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

project file structure changed
  components/icons/Add.jsx
  components/icons/Area.jsx
  components/icons/Calendar.jsx
  components/icons/TrashSolid.jsx
  components/ui/AddButton.tsx
  components/ui/AssistantNameRenderer.tsx
  components/ui/ExportModal.tsx
  components/ui/MonthCellRenderer.tsx
  components/ui/NobetScheduler.tsx
  components/ui/SchedulerBottomBar.tsx
  components/ui/SchedulerTopBar.tsx
  components/ui/SectionCellRenderer.tsx
  components/ui/SectionHeaderRenderer.tsx
  libs/enums/ScreenMode.ts
  libs/helpers/color-generator.ts
  libs/helpers/disabled-day-calculator.ts
  libs/helpers/get-weekend-indexes.ts
  libs/helpers/id-generator.ts
  libs/helpers/model-generator.ts
  libs/helpers/table-style-helpers.ts
  libs/mock/nobet.data.ts
  libs/models/IAssistant.ts
  libs/models/ISection.ts
  libs/models/MonthConfig.ts
  libs/models/NobetContext.ts
  styles/button.scss
  styles/globals.scss
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

folder name conventions fixed
  .eslintignore
  app/page.tsx
  components/ui/add-button.tsx
  components/ui/export-modal.tsx
  components/ui/scheduler/duty-scheduler.tsx
  components/ui/scheduler/scheduler-bottom-bar.tsx
  components/ui/scheduler/scheduler-top-bar.tsx
  components/ui/table-renderers/assistant-name-renderer.tsx
  components/ui/table-renderers/month-cell-renderer.tsx
  components/ui/table-renderers/section-cell-renderer.tsx
  components/ui/table-renderers/section-header-renderer.tsx
  libs/enums/screen-mode.ts
  libs/models/NobetContext.ts
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint

arrow function components converted to functions
  .prettierrc
  app/layout.tsx
  app/page.tsx
  app/providers.tsx
  components/icons/Add.jsx
  components/ui/add-button.tsx
  components/ui/export-modal.tsx
  components/ui/scheduler/duty-scheduler.tsx
  components/ui/scheduler/scheduler-bottom-bar.tsx
  components/ui/scheduler/scheduler-top-bar.tsx
  components/ui/table-renderers/assistant-name-renderer.tsx
  components/ui/table-renderers/month-cell-renderer.tsx
  components/ui/table-renderers/section-cell-renderer.tsx
  components/ui/table-renderers/section-header-renderer.tsx
  libs/helpers/color-generator.ts
  libs/helpers/disabled-day-calculator.ts
  libs/helpers/model-generator.ts
Due: prettier --write, eslint --fix, eslint

simplifications
  components/ui/scheduler/duty-scheduler.tsx
  components/ui/scheduler/scheduler-top-bar.tsx
  components/ui/table-renderers/assistant-name-renderer.tsx
  components/ui/table-renderers/month-cell-renderer.tsx
  libs/helpers/mantine-table-css-getters.ts
  libs/hooks/use-assistant-list.ts
  libs/hooks/use-section-list.ts
  libs/mock/nobet.data.ts
  libs/models/MonthConfig.ts
  package.json
Due: prettier --write, eslint --fix, eslint

components made more granular
  app/page.tsx
  components/ui/export-modal.tsx
  components/ui/scheduler/duty-scheduler.tsx
  components/ui/scheduler/scheduler-base.tsx
  components/ui/scheduler/scheduler-bottom-bar.tsx
  components/ui/scheduler/scheduler-top-bar.tsx
  components/ui/scheduler/scheduler.tsx
  components/ui/table-renderers/assistant-name-renderer.tsx
  components/ui/table-renderers/month-cell-renderer.tsx
  components/ui/table-renderers/section-header-renderer.tsx
  libs/helpers/disabled-day-calculator.ts
  libs/helpers/get-weekend-indexes.ts
  libs/helpers/mantine-table-css-getters.ts
  libs/helpers/model-generator.ts
  libs/hooks/use-assistant-list.ts
  libs/hooks/use-section-list.ts
  libs/mock/duty.data.ts
  libs/models/DutyContext.ts
Due: prettier --write, eslint --fix, eslint

metrics added
  .prettierrc
  app/dashboard/layout.tsx
  app/dashboard/page.tsx
  app/favicon.ico
  app/layout.tsx
  app/metrics.tsx
  app/page.tsx
  components/ui/dashboard-navbar.tsx
  components/ui/header.tsx
  components/ui/main-layout.tsx
  components/ui/table-renderers/month-cell-renderer.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

navbar suspensed
  components/ui/dashboard-navbar.tsx
Due: prettier --write, eslint --fix, eslint

dashboard suspense
  app/dashboard/layout.tsx
  components/ui/dashboard-navbar.tsx
Due: prettier --write, eslint --fix, eslint
